/* Bootstrap */
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }

    .navbar .brand {
        padding-left: 30px;
    }

    .container-fluid {
        width: 900px;
    }
}

@media (max-width: 767px) {
    .container-fluid {
        width: 700px;
    }
}

@media (max-width: 480px) {
    .container-fluid {
        width: 450px;
    }
}

.li-content {
    font-size: 14px;
}

.myimage {
    max-height: 75px;
    max-width: 75px;
}

/* Timeline */
.timelineMajor h2 span {
    font-size: 22px;
}
