/* Bootstrap */
body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

@media (max-width: 979px) {
    body {
            padding-top: 0;
    }
}

/* jquery.timelinr */
li {
    margin: 0 0 0px 20px; /* Visible timeline image */
}
ul, ol {
     margin: 0 0 0px 0px; /* Visible timeline image */
}
#dates .selected {
    font-size: 30px;
}
#issues li h1 {
    font-size: 30px;
}
#timeline {
    width: auto;
}